{% extends "base.html" %}

{% block title %}
<title>Home - Expense Tracker</title>
{% endblock %}

{% block content %}
    {% if messages%}
        {% for messages in messages%}
        <div class="alert alert-success" role = "alert">
            <strong>{{messages}}</strong>
        </div>
        {%endfor%}
    {%endif%}
<h1>Welcome to the Expense Tracker App</h1>
<p>This app helps you manage your expenses efficiently.</p>
{{all_person}}
<table class="table table-dark table-striped-columns ">
  <thead>
    <tr>
      <th scope="col">num</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Date</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>

    </tr>
  </thead>
  <tbody>
        {% for person in all_person %}
        <tr>
            <th scope="row">{{person.id}}</th>
            <td>{{person.name}}</td>
            <td>{{person.age}}</td>
            <td>{{person.date}}</td>
            <td><a href="edit/{{person.id}}" class="btn btn-warning">Edit</a></td>
            <td><a href="#" class="btn btn-danger">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
